@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
body, html{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #2E4038;
}
.pepeImg{
    background-image: url("./assets/logo.jpeg");
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: repeat;
    background-attachment: fixed;
    position: relative;
    background-position: center;
}